# ----------------------------
# Virtual Environments
# ----------------------------
.venv/
venv/
env/

# ----------------------------
# Python Bytecode
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Testing
# ----------------------------
.pytest_cache/
.coverage
htmlcov/

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# macOS
# ----------------------------
.DS_Store

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Build Artifacts
# ----------------------------
build/
dist/
*.egg-info/